Django==5.0.1
numpy>=1.26

scipy>=1.12
matplotlib>=3.8

Pillow>=10.2
django-crispy-forms==2.1
crispy-bootstrap5>=2024.2

python-dateutil>=2.8

python-decouple==3.8
psycopg2-binary>=2.9
openpyxl>=3.1
reportlab>=4.0
django-debug-toolbar>=4.2
django-cors-headers>=4.3